.wrp-quote {
    background: url("../../../assets/images/img-student2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: var(--color-black);
        display: block;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.6;
    }
    .content {
        max-width: 600px;
        margin: 0 auto;
        color: #fff;
        position: relative;
        z-index: 1;
        line-height: normal;
        h6 {
            margin: 20px 0;
        }
    }
    .btn {
        margin-top: 10px;
        display: inline-block;
    }
}